<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- Twitter Card Metas -->

  <!-- og property -->
    <meta property="og:title" content="{{ if eq .URL "/" }}<title>{{ .Site.Title }}</title>{{ else }}<title>{{ .Title }}&nbsp;-&nbsp;{{ .Site.Title }}</title>{{ end }}"></meta>
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <!-- og description -->
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <!-- og images -->
    {{ if eq .URL "/" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}img/mwlogoicon.png">
    {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.eyecatch }}">
    {{ end }}
    <!-- Twitter Card Summary with large image -->
    <meta name="twitter:card" content="summary_large_image" /></meta>
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}"></meta>
    <meta name="twitter:creator" content="{{ .Site.Params.twitter }}"></meta>
    <meta name="twitter:title" content="{{ if eq .URL "/" }}<title>{{ .Site.Title }}</title>{{ else }}<title>{{ .Title }}&nbsp;-&nbsp;{{ .Site.Title }}</title>{{ end }}"></meta>
    <meta name="twitter:url" content="{{ .Permalink }}"></meta>
    <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"></meta>
    <meta name="twitter:image" content="https://i.imgur.com/czjgYJM.png">


  <title>
    {{ if eq .URL "/" }}
      {{ .Site.Params.Title }} &middot; {{ .Site.Params.Tagline }}
    {{ else }}
      {{ .Title }} &middot; {{ .Site.Params.Title }}
    {{ end }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/poole.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
