{{ partial "default_head.html" . }}

<!-- Space delimited list of page types -->
{{ $paginator := .Paginate (where .Data.Pages "Type" "in" "pages") }}

<div class="posts">
  {{ range .Paginator.Pages }}
    <div class="post">
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <span class="post-date">{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}</span>
        {{ .Content }}
    </div>
  {{ end }}
</div>


{{ partial "default_foot.html" . }}
